# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Tibia protocol specific
*.dat
*.spr
*.otb
*.pic
*.otbm
*.otfx

# Client build
*.o
*.obj
*.exe
*.pdb
*.ilk
*.so
*.a
*.dylib
*.dll
*.exp
*.lib
*.user
*.ncb
*.suo
*.log
*.sdf
*.opensdf
*.ipch
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
build/
win32/
win64/
linux32/
linux64/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cbp
*.vcxproj.*
!*.vcxproj
!*.vcxproj.filters
vc140/
vc141/
vc142/
vc143/
vc150/
.vs/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
*.dir/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Sphinx documentation
docs/_build/
docs/_static/generated/
docs/_templates/generated/
docs/diagrams/*.mmd

# Backup files created by fix_myst_tabs.py
*.bak

.fake
fix_diagrams.py
