sphinx==7.4.7
myst-parser>=3.0.0
furo>=2024.8.6
sphinx-copybutton>=0.5.2
sphinx-design>=0.6.0
sphinx-sitemap>=2.6.0
sphinxext-opengraph>=0.9.1
sphinx-favicon>=1.0.1
sphinxcontrib-mermaid>=0.9.2
sphinx-codeautolink>=0.15.0
sphinx-hoverxref>=1.5.0
sphinxext-rediraffe>=0.2.7
linkify-it-py>=2.0.0
pymdown-extensions
Pygments
