:root[data-theme="dark"] svg { color-scheme: dark; }
:root[data-theme="dark"] .mermaid svg path,
:root[data-theme="dark"] .mermaid svg line,
:root[data-theme="dark"] .mermaid svg polygon,
:root[data-theme="dark"] .mermaid svg rect,
:root[data-theme="dark"] .mermaid svg circle,
:root[data-theme="dark"] .mermaid svg ellipse { stroke: #bbb !important; }
:root[data-theme="dark"] .mermaid svg text { fill: #ddd !important; }